<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js'></script>
</head>
<body>
  <div id="app">
    <input type="checkbox" name="a" id="a" v-model="a">
    <span>a</span>
    <input type="checkbox" name="b" id="b" v-model="b">
    <span>b</span>
    <input type="checkbox" name="c" id="c" v-model="c">
    <span>c</span>
    <span>{{selectAry}}</span>
  </div>

  <script>
    new Vue({
      el: '#app',
      data:{
        a:false,
        b:false,
        c:false
      },
      computed:{
        selectAry(){
          const result = ['a', 'b', 'c'];
          return result.filter(item =>this[item]);
        }
      }
    });
  </script>
</body>
</html>