<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js'></script>
</head>

<body>
  <div id="app">
    <form @submit.prevent="submit">
      <label>標題</label>
      <input type="text" v-model="title">
      <br>

      <label>URL</label>
      <input type="text" v-model="url">
      <br>

      <label>講師</label>
      <select v-model="teacher">
        <option v-for="teacher in teachers">{{teacher}}</option>
      </select>
      <br>

      <label>完成</label>
      <input type="checkbox" v-model="completed" />
      <br>

      <label>圖片</label>
      <input type="file" accept="image/*" @change="fileSelected">
      <br>

      <img v-if="image" :src="image" width="200">
      <br>
      <button type="submit">Submit</button>
    </form>
    <hr>
    <div>
      <div v-for="lesson in lessons">
        <img :src="lesson.image" width="200"/>
        <a :href="lesson.url">
          <span>{{lesson.title}}</span>
        </a>
        <span>{{lesson.teacher}}</span>
        <span>{{lesson.completed==false?'完成' : '未完成'}}</span>
      </div>
    </div>
  </div>
  <script>
    const API = 'http://localhost:8081';
    new Vue({
      el: '#app',
      data: {
        title: '',
        url: '',
        teachers: ['Bob', 'Ken', 'Lily', 'Frank'],
        teacher: '',
        completed: false,
        image: '',
        lessons:[],
      },
      methods: {
        fileSelected(evt) {
          const file = evt.target.files.item(0);
          const reader = new FileReader();
          reader.addEventListener('load', this.imageLoaded);
          reader.readAsDataURL(file);
        },
        imageLoaded(evt) {
          this.image = evt.target.result;
        },
        submit() {
          $.post(API, {
            title: this.title,
            url: this.url,
            teacher: this.teacher,
            completed: this.completed,
            image: this.image
          }).then(()=>{
            this.title = '',
            this.url = '',
            this.teacher = '',
            this.completed = false,
            this.imag = '',
            this.loadlessons();
          });
        },
        loadlessons(){
          $.get(API).then(lessons =>this.lessons = lessons);
        }
      },
      mounted() {
        this.loadlessons();
      },
    });
  </script>

</body>

</html>